<%= stylesheet_link_tag "membership.css", "flexbox-ultralight.css" %>

<div class="membership-title" style="margin-top:20px">
    Checkout our membership!
</div>

<body>
    <div class="center justify-space-around">
        <div class="membership-box vertical" style="display: inline-block">
            <div class="membership-card" style="width:300px">
                <div class="membership-header">
                    <h1 class="membership-title">Follow your heart</h1>
                    <h2 class="membership-subtitle">Only pay per ride!</h2>
                </div>
                <div style="padding: 25px">
                    <ul>
                        <li class="membership-description">Membership fee is 0</li>
                        <li class="membership-description">Only pay after you ride</li>
                        <li class="membership-description">I want it, I ride it</li>
                    </ul>
                </div>
                <div class="membership-pay">
                    <p class="membership-cost">$1</p>
                    <p class="membership-pay-text">per 30min</p>
                    <a button class="membership-button" role="link"type="button" href="/rent">checkout</button></a>
                </div>
            </div>
        </div>

        <div class="membership-box vertical" style="display: inline-block">
            <div class="membership-card" style="width:300px">
                <div class="membership-header">
                    <h1 class="membership-title">Best unit price</h1>
                    <h2 class="membership-subtitle">We do long term commitment</h2>
                </div>
                <div style="padding: 25px">
                    <ul>
                        <li class="membership-description">We ride all the time</li>
                        <li class="membership-description">Only $3 unlimited ride time</li>
                        <li class="membership-description">Ride and save</li>
                    </ul>
                </div>
                <div class="membership-pay">
                    <p class="membership-cost">$19.9</p>
                    <p class="membership-pay-text">yearly membership fee</p>
                    <button class="membership-button">
                        <% if logged_in? %>
                            <%= form_tag purchase_checkouts_path,  method: :post, data: { turbo: false } do %>
                                <input type="hidden" name="price_id" value="price_1MAJihJP4ezsauZiMRTrn9RO" />
                                <input type="hidden" name="mode_id" value="subscription" />
                                <%= submit_tag "Subscribe for $9/mo", data: { disable_with: "Hold please..." }, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
                            <% end %>
                            <% else %>
                                <%= link_to "Log in to become a member!", login_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
                        <% end %>
                    </button>
                </div>
            </div>
        </div>

        <div class="membership-box vertical" style="display: inline-block">
            <div class="membership-card" style="width:300px">
                <div class="membership-header">
                    <h1 class="membership-title">Ride the month out</h1>
                    <h2 class="membership-subtitle">I want to ride my BICYCLE!</h2>
                </div>
                <div style="padding: 25px">
                    <ul>
                        <li class="membership-description">1 pay for 1 month of joy</li>
                        <li class="membership-description">Ride more save more</li>
                        <li class="membership-description">Unlimited rides!!!</li>
                    </ul>
                </div>
                <div class="membership-pay">
                    <p class="membership-cost">$39.9</p>
                    <p class="membership-pay-text">per ride</p>
                    <button class="membership-button">
                        <% if logged_in? && !subscribed? %>
                            <%= form_tag purchase_checkouts_path,  method: :post, data: { turbo: false } do %>
                                <input type="hidden" name="price_id" value="price_1MAJKqJP4ezsauZin28Wc2ZN" />
                                <input type="hidden" name="mode_id" value="subscription" />
                                <%= submit_tag "Subscribe for $9/mo", data: { disable_with: "Hold please..." }, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
                            <% end %>
                        <% elsif logged_in? && subscribed? %>
                            <%=button_to "Manage your subscription", billings_path, method: :post, data: { turbo: false }, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
                        <% else %>
                            <%= link_to "Log in to subscribe!", login_path, class: "px-3 py-4 bg-teal-600 block no-underline w-full text-center rounded font-bold text-white shadow-sm" %>
                        <% end %>
                    </button>
                </div>
            </div>
        </div>
    </div>  
</body>

