<%= stylesheet_link_tag "membership.css" %>

<div class="membership-title" style="margin:20px">
    Sign Up
</div>

<center>
    <%= form_with model: @user, url: sign_up_path do |form| %>


        <%= form.label :username %>
        <%= form.text_field :username, class: "membership-header", id:"signup" %><br><br>
        <%= form.label :password %>
        <%= form.password_field :password, class: "membership-header", id:"signup"%><br><br>
        <%= form.label :password_confirmation%>
        <%= form.password_field :password_confirmation, class: "membership-header", id:"signup" %><br>

        <div class="membership-button">
        <%= form.submit "Sign Up" %>
        </div>
    <% end %>
</center>