<%= stylesheet_link_tag "navbar.css" %>
<header>
  <div class="container">
    <%= image_tag "bike_logo.png", class: "bike_logo" %>
<<<<<<< HEAD
    <div class = "header user_name">
    <% if @user %>
      Hello <%=@user.username %>
      <% end %>
      </div>
=======
    <% if logged_in? %>
      Hello <%= current_user.username %>
    <% end %> 
>>>>>>> 556d14912dc980bb15944d376578bbe9522df672
    <nav class="header">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Membership", membership_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete%></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
