<%= stylesheet_link_tag "navbar.css" %>
<header>
  <div class="container">
    <%= image_tag "bike_logo.png", class: "bike_logo" %>
    <nav class="header">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Membership", membership_path %></li>
        <li><%= link_to "Rent", rent_path %></li>
        <li><%= link_to "Singup", sign_up_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </nav>
  </div>
</header>